<div class="card issues-list-item-card">
  <div class="card-body">
    <h3 class="h5">
      <a [href]="data.web_url" class="text-dark">{{ data.title }}</a>
    </h3>
    <div>
      <a [href]="data.web_url" class="text-muted">#{{ data.iid }}</a>
      &nbsp;·&nbsp;
      <span class="text-muted">opened {{ data.created_at | dateAgo }} ago</span>
      &nbsp;<span>by <a [href]="data?.author.web_url">{{ data?.author.username }}</a></span>
    </div>
    <gdb-label
      *ngFor="let label of data.labels"
      [name]="label"
      class="d-inline-block mr-2">
    </gdb-label>
    <gdb-merge-request-list
      *ngIf="data.merge_requests != null && data.merge_requests.length > 0"
      [data]="data.merge_requests"
      class="merge-request-list">
    </gdb-merge-request-list>
  </div>
</div>