@import '~src/styles';

.merge-request-list:not(:empty) {
  display: block;
  margin-top: 1rem;
  border-left: 6px solid $gray-200;
}

.issues-list-item-card {
  border: none;
  box-shadow: 0 0 25px rgba(0,0,0,0.05);
  
  .card-body {
    padding: 0.75rem 1.25rem;
  }
}