<a
  [href]="data.web_url"
  class="text-dark font-weight-bold">
  {{ data.title }}
</a>
<div class="d-flex flex-row align-items-center">
  <a [href]="data.web_url" class="text-muted">!{{ data.iid }}</a>
  &nbsp;·&nbsp;
  <span class="text-muted merge-request-created-date">opened {{ data.created_at | dateAgo }} ago</span>
  &nbsp;·&nbsp;
  <span class="source-branch text-monospace text-truncate">{{ data.source_branch }}</span>
</div>
<div>
  <gdb-label
    *ngFor="let label of data.labels"
    [name]="label"
    class="d-inline-block mr-2">
  </gdb-label>
  <!-- <span *ngFor="let label of data.labels" class="badge badge-primary mr-2">
    {{ label }}
  </span> -->
</div>