<ng-container *ngIf="labelData$ | async as labelData; else genericTempl">
  <span
    class="badge"
    [style.backgroundColor]="labelData.color"
    [style.color]="labelData.text_color">
    {{ name }}
  </span>
</ng-container>
<ng-template #genericTempl>
  <div class="badge text-primary">{{ name }}</div>
</ng-template>